<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe réinitialisé</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <h1>Votre mot de passe a été réinitialisé</h1>
            <p>Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
