<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>

<body>

    <!-- Afficher les messages -->
    <div class="alert-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="" method="post">
                <h1>Réinitialisation du mot de passe</h1>
                {% csrf_token %}
                <input type="email" placeholder="Votre adresse email" name="email" id="email" required>
                <button type="submit" onclick="showLoader()">Envoyer le lien</button>
            </form>
        </div>
    </div>
    <div id="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
