<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérifiez votre boîte mail</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <h1>Vérifiez votre boîte mail</h1>
            <p>Un lien pour réinitialiser votre mot de passe a été envoyé à votre adresse email, si elle est enregistrée dans notre système.</p>
            <a href="{% url 'login' %}">Retour à la connexion</a>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
