<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau mot de passe</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="" method="post">
                <h1>Nouveau mot de passe</h1>
                {% csrf_token %}
                <div class="password-container">
                    <input type="password" placeholder="Nouveau mot de passe" name="new_password1" id="new_password1">
                    <i class="bi bi-eye-fill" id="togglePassword1"></i>
                </div>
                <div class="password-container">
                    <input type="password" placeholder="Confirmer le mot de passe" name="new_password2" id="new_password2">
                    <i class="bi bi-eye-fill" id="togglePassword2"></i>
                </div>
                <button type="submit" onclick="showLoader()">Réinitialiser</button>
            </form>
        </div>
    </div>
    <div id="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
