
.modal-dialog {
    max-width: 80% !important;
    width: 80% !important;
}



/* Styles personnalisés pour les champs de formulaire dans les modals */
.modal-body .form-control {
    border-radius: 10px; /* Bordures arrondies */
    border: 1px solid #ced4da; /* Bordure légère */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.modal-body .form-control:focus {
    border-color: #80bdff; /* Couleur de bordure au focus */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); /* Ombre au focus */
}

.modal-body .form-control:hover {
    border-color: #007bff; /* Changement de couleur au hover */
}

.modal-body .form-group {
    margin-bottom: 20px; /* Espacement entre les champs */
}

/* Améliorer le style des boutons dans les modals */
.modal-footer .btn {
    border-radius: 10px; /* Boutons arrondis */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.modal-footer .btn:hover {
    background-color: #007bff; /* Couleur au survol */
    transform: scale(1.05); /* Léger zoom au hover */
}

/* Largeur du modal */
.modal-dialog {
    max-width: 80%; /* Le modal occupera 80% de la largeur de la fenêtre */
    width: 80%; /* Largeur fixée à 80% */
}

/* Ajustements internes */
.modal-content {
    padding: 20px; /* Un peu de padding pour aérer le contenu */
}

.modal-header, .modal-footer {
    padding: 15px 30px; /* Augmentation de l'espacement horizontal dans l'en-tête et le pied */
}

.modal-body .form-control {
    width: 100%; /* Assurer que les champs remplissent leur container */
}

/* Ajustement de la disposition */
.modal-body .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-body .form-group {
    flex: 0 0 48%; /* Chaque champ prend environ 48% de la largeur, pour deux colonnes */
    margin-bottom: 20px;
}
